/*
GLOBAL SETTINGS ONLY
*/

* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a:visited,
a:link,
a:hover,
a:active {
  text-decoration: none;
  color: inherit;
}

::placeholder {
  font-weight: bold;
}

.style-bubbles-container {
  display: flex;
  width: 350px;
  flex-wrap: nowrap;
}

.MuiAvatar-img {
  margin: 10px !important;
}
.Image {
  display: flex;
  width: 500px;
  flex-wrap: wrap;
}

.MainImage {
  height: 100%;
  width: 100%;
}
