.socialMedia {
  display: flex;
  height: 1%;
  width: 1%;
  flex-wrap: nowrap;
}

.socialMedia img {
  height: 50px;
  width: 50px;
  cursor: pointer;
}

.Sale {
  color: red;
}

.PriceStyling {
  text-decoration: line-through;
}
