.QuestionAnswerCard-container {
  margin: 10px 0;
  padding: 5px 0;
}

.QACard-question {
  display: flex;
  flex-direction: row;
}

.QACard-question p {
  flex-basis: 100%;
}

.QACard-answer_outer {
  margin: 5px 0;
  padding: 5px 0;
}

.QACard-answer_inner {
  margin: 5px 0;
  padding: 5px 0;
}

.QACard-answer_inner p {
  margin: 5px 0;
}
