.review-summary {
  font-weight: bold;
}
.review-name-and-date {
  float: right;
}
.review-overview {
  display: inline-block;
}
.review-avg-rating-number {
  display: inline-block;
  font-size: 80px;
}
.review-avg-rating-star {
  display: inline-block;
  margin: auto;
}
.reviews {
  margin: 20px;
}

.review-username {
  font-size: 15px;
}
.review-entry {
  margin: 25px;
}
.review-title {
  font-size: 20px;
}
.progress-bar {
  height: 20px;
}
.review-recommended {
  margin-top: 20px;
  margin-bottom: 20px;
}

.remove-rating-filter {
  text-decoration: underline;
  color: grey;
  cursor: pointer;
}
.review-filter {
  margin-bottom: 15px;
  font-style: italic;
}
.review-helpful-yes {
  text-decoration: underline;
  color: grey;
  cursor: pointer;
}
.review-helpful-count {
  color: grey;
  cursor: pointer;
  margin-left: 10px;
}
.review-report {
  text-decoration: underline;
  color: grey;
  cursor: pointer;
}
